#contact
    background-color: #212529
    background-image: url("Assets/2.png")
    background-position: center
    background-repeat: no-repeat
    .textbox
        h1
            font-weight: 700
            color: #ffff
            font-size: 50px
        h3
            color: #6c757d
            font-size: 20px
            margin: 20px 0 40px
    input
        font-weight: 700
        border: 1px solid #ced4da
        width: 100%
        font-size: 18px
        margin-top: 24px
        padding: 21px
    textarea
        font-weight: 700
        border: 1px solid #ced4da
        font-size: 18px
        margin-top: 24px
        padding: 20px
        border-radius: 5px
    .btn
        padding: 19px 52px
        background-color: #ffc800
        color: #ffff
        font-weight: 700
        font-size: 20px
        opacity: 0.6
        margin-top: 48px
